Source: rpi-chromium-mods
Section: unknown
Priority: optional
Maintainer: dev@kano.me
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/chromium.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/chromium.git;a=summary

Package: rpi-chromium-mods-kano
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, chromium-browser (>= 55) [armhf], chromium (>= 55) [!armhf]
Replaces: chromium-browser
Conflicts: rpi-chromium-mods
Provides: rpi-chromium-mods
Description: Raspberry Pi-specific mods to Chromium
 Package contains Raspberry Pi-specific modifications to the
 default Chromium browser install, including optimized settings
 and command-line flags. Also sets chromium as the default browser.
