#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

ARCH=$(dpkg --print-architecture)

if [ "$ARCH" = "armhf" ] ; then
    if ! [ -e /usr/lib/chromium-browser/libpepflashplayer.so ]; then
	    db_input high rpi-chromium-mods/adobe || true
	    db_go
    fi
else
    if ! [ -e /usr/lib/chromium/libpepflashplayer.so ]; then
	    db_input high rpi-chromium-mods/adobe || true
	    db_go
    fi
fi

