#!/usr/bin/make -f

DEB_TARGET_ARCH ?= $(shell dpkg-architecture -qDEB_TARGET_ARCH)

override_dh_install:
ifeq ($(DEB_TARGET_ARCH),armhf)
	mkdir -p debian/rpi-chromium-mods/etc/chromium-browser/customizations/
	cp -ax armhf/00-rpi-vars debian/rpi-chromium-mods/etc/chromium-browser/customizations/
	mkdir -p debian/rpi-chromium-mods/usr/lib/chromium-browser/
	cp -ax armhf/master_preferences debian/rpi-chromium-mods/usr/lib/chromium-browser/
	cp -ax armhf/libpepflashplayer.so debian/rpi-chromium-mods/usr/lib/chromium-browser/
	cp -ax Flash.htm debian/rpi-chromium-mods/usr/lib/chromium-browser/
else
	mkdir -p debian/rpi-chromium-mods/etc/chromium.d/
	cp -ax i386/flash-vars debian/rpi-chromium-mods/etc/chromium.d/
	mkdir -p debian/rpi-chromium-mods/etc/chromium/
	cp -ax i386/master_preferences debian/rpi-chromium-mods/etc/chromium/master_preferences
	mkdir -p debian/rpi-chromium-mods/usr/lib/chromium/
	cp -ax i386/libpepflashplayer.so debian/rpi-chromium-mods/usr/lib/chromium/
	cp -ax i386/LGPL.txt debian/rpi-chromium-mods/usr/lib/chromium/
	cp -ax i386/notice.txt debian/rpi-chromium-mods/usr/lib/chromium/
	cp -ax i386/readme.txt debian/rpi-chromium-mods/usr/lib/chromium/
	cp -ax i386/license.pdf debian/rpi-chromium-mods/usr/lib/chromium/
	cp -ax Flash.htm debian/rpi-chromium-mods/usr/lib/chromium/
endif
	dh_install

override_dh_strip:
	dh_strip --exclude=pepflash
	
override_dh_shlibdeps:
ifeq ($(DEB_TARGET_ARCH),armhf)
	dh_shlibdeps
endif

%:
	dh $@

